*
!*/
!*.*

*.exe
*.out
*.app

*.o
*.ko
*.obj
*.elf

*.a
*.so
*.so.*
*.dylib
*.dll
*.lib

*.ali
b~*.adb
b~*.ads
b~*.ali
b~*.o

**/target/
*.rs.bk

__pycache__/
*.py[cod]
*$py.class

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini

.vscode/
.idea/
*.swp
*.swo
*~
